.tableOperations {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.filter {
  border: 1px solid var(--color-grey-100);
  background-color: var(--color-grey-0);
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-sm);
  padding: 0.4rem;
  display: flex;
  gap: 0.4rem;
}

.button {
  background-color: var(--color-grey-0);
  border: none;
  border-radius: var(--border-radius-sm);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.44rem 0.8rem;
  transition: all 0.3s;
}

.button:hover:not(:disabled) {
  background-color: var(--color-brand-600);
  color: var(--color-brand-50);
}

.active {
  background-color: var(--color-brand-600);
  color: var(--color-brand-50);
}

.select {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-grey-0);
  font-weight: 500;
  box-shadow: var(--shadow-sm);
}
