.sideBar {
  background-color: var(--color-grey-0);
  padding: 3.2rem 2.4rem;
  border-right: 1px solid var(--color-grey-100);
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

[dir="rtl"] .sideBar {
  border-right: none;
  border-left: 1px solid var(--color-grey-100);
}

@media (max-width: 768px) {
  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 26rem;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    box-shadow: none;
  }

  .sideBar.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
  }

  [dir="rtl"] .sideBar {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  [dir="rtl"] .sideBar.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  }
}
